.agua {
  width: 100px;
  height: 100px;
}

.agua[data-temperatura="0"] {
  background-color: blue;
}

.agua[data-temperatura="50"] {
  background-color: aqua;
}

.agua[data-temperatura="100"] {
  background-color: red;
}
